<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>App</title>
  <link rel="stylesheet" href="main.css">
</head>

<body>
<h1 class="mx-10">Informations pratique</h1>
  <p>{{ Controller }}</p>
  <p>{{ Template }}</p>
  <p>{{ Style }}</p>

</body>

</html>